version: '3.4'

services:
  db:
    build: ./db
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    command: mysqld --innodb-flush-method=littlesync --innodb-use-native-aio=OFF --log_bin=ON  
    volumes:
      - ${DB_PATH_HOST}:/var/lib/mysql    

  adminer:
    build: ./adminer
    restart: always
    ports:
      - 8080:8080

  test2_formulas:
    image: ${DOCKER_REGISTRY-}test2formulas
    build:
      context: .
      dockerfile: test2_formulas/Dockerfile
    ports:
      - 80:80
      - 443:443