@page
@model test2_formulas.Pages.Billing.EditModel

@{
    ViewData["Title"] = "Настройка параметров биллинга";
}

<h1>Изменить параметры</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillingParam.BillingParamID" />
            <div class="form-group">
                <label asp-for="BillingParam.MinuteCost" class="control-label"></label>
                <input asp-for="BillingParam.MinuteCost" class="form-control" />
                <span asp-validation-for="BillingParam.MinuteCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingParam.FreeTime" class="control-label"></label>
                <input asp-for="BillingParam.FreeTime" class="form-control" />
                <span asp-validation-for="BillingParam.FreeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingParam.TimeCoef" class="control-label"></label>
                <input asp-for="BillingParam.TimeCoef" class="form-control" />
                <span asp-validation-for="BillingParam.TimeCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingParam.StartTime" class="control-label"></label>
                <input asp-for="BillingParam.StartTime" class="form-control" />
                <span asp-validation-for="BillingParam.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingParam.EndTime" class="control-label"></label>
                <input asp-for="BillingParam.EndTime" class="form-control" />
                <span asp-validation-for="BillingParam.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    // переопределение валидации на стороне клиента
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
    </script>
}
