@page
@model IndexModel
@{
    ViewData["Title"] = "О приложении";
}

<h1>Тестовое задание на вакансию «C# разработчик»</h1>

<p class="card-text">
    Приложение Формулы создано  ASP.NET Core с Razor Pages
    Используется Entity Framework Core и подход code first.
    Для авторизации используется Microsoft Identity.
</p>
<p class="card-text">
    Задача:
    Разработать приложение, позволяющее рассчитывать формулы,
    которое реализует следующий функционал:
</p>
<p class="card-text">
    1) Ввод пользователем формул, к примеру: 1 + 2 * 3, 2  + ( 7 * 3)
</p>
<p class="card-text">
    2) Расчет формул
</p>
<p class="card-text">
    3) Сохранение в БД формулы, результатов расчета и времени расчета с последующим отображением
</p>
<p class="card-text">
    Дополнительно можно реализовать:
</p>
<p class="card-text">
    4) Аккаунты пользователей и авторизацию
</p>
<p class="card-text">
    5) Биллинг на основе затраченного на расчеты времени с интерфейсом настройки, 
    который доступен только определенным пользователям (администраторам)
</p>
<p class="card-text">
    6) Формирование квитанций через Crystal Reports, Telerik Reporting или другое средство построения отчетов
</p>

